@import "http://fonts.googleapis.com/css?family=Raleway";

div#container{
    margin: 0px 0px;
    width: 900px;
    height:580px;
    color:gray;
    background-color:#800000;
    border-radius:20px;
}
div#form1{
    width:inherit;
    height:inherit;
    border:2px solid #000000;
    padding:5px;
    background-color:#f3f3f3;
    border-radius:5px;
    text-align:center;
    margin-left:100px;
    margin-top:50px;
    display:block;
    
}
h3{
    text-align:center;
    font-family:'Raleway', sans-serif;
    color:#ffffff;
}
h1{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align:center;
}
.Columns {
    display:inline-table;
    height:312px;
    margin-right: 2.5%;
    margin-top: 0.5%;
    margin-bottom: 2.5%;
    position:relative;
}
div#ColumnA{
    width: 25%;  
    margin-left: 2.5%; 
}
div#ColumnB{
    width: 7.5%;    
}
div#ColumnC{
    width: 12.5%;     
}
div#ColumnD{
    width: 25%;
}
div#ColumnE{
    width: 12.5%;
}
.item_buysell{
    background-color:beige;

}
input{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:5px;
    text-align:center;
}

#button_calculate {
    width: 80%;
    height: 20%;
    left: 10%;
    top: 40%;
    text-align: center;
    position:absolute;

}
#item_investing{
    width:100%;
    position:inherit;
    top: 0px;

}
.Row_Headers{
    width:100%;
    display:inline-block;
}
#Header_ColA{
    width:25%;
    margin:0 2.5% 0 2.5%;
    text-align:center;
    color:white;
    display:inherit;
}
#Header_ColB{
    width:7.6%;
    margin:0 2.5% 0 0;
    text-align:center;
    color:white;
    display:inherit;
}
#Header_ColC{
    width:12.5%;
    margin:0 2.5% 0 0;
    text-align:center;
    color:white;
    display:inherit;
}
#Header_ColD{
    width:25%;
    margin:0 2.5% 0 0;
    text-align:center;
    color:white;
    display:inherit;
}#Header_ColE{
    width:12.5%;
    margin:0 2.5% 0 0;
    text-align:center;
    color:white;
    display:inherit;
}
h4{
    text-align:center;
    font-family:'Raleway', sans-serif;
    color:#ffffff;
    margin: 25px 15px 0px 0px;
}
 #Version_Tag{
     text-align:right;
     font-family:'Raleway', sans-serif;
     color:#ffffff;
     margin-top: 5px;
 }
 /*input[type=number]:invalid {
    background-color: #FFCCCC;
}*/