@import "http://fonts.googleapis.com/css?family=Raleway";

div#container{
    margin: 0px 0px;
    width: 500px;
    height:700px;
    color:gray;
    background-color:#800000;
    border-radius:20px;
}
.Columns{
    display: inline-table;
}
.Columns_Left{
    width: 65%;
}
.Columns_Right{
    width:30%;
}
#Column2 input{    
    height: 20px;
    width: 125px;
    display:inline-block;
    margin: 7px;
}
#Column2C input{ 
    width: 125px;
}
.Row{
    display:inline-block;
    width: 100%;
}
.Row_Text{
    display:inline-block;
    margin: 10px 0 10px 20px;   
    font-family: 'Raleway', sans-serif;
}
.Out_Text{
    width:100%;
    text-align:center;
    display:inline-block;
    margin:10px 20px 10px 0;
    color: #ffffff;
    font-weight: bold;
    font-size:large;   
    font-family: 'Raleway', sans-serif;
    
}
input{
        border-radius:5px;
        padding-left:5px;
        height:20px;
}
.output{
     background-color:beige;
     height: 23px;
     margin: 7px;
     text-align:center;
     font-weight:bold;
     border-style:none;
}
#RowB{
    display:block;
}
.button_calc{
    width: 80%;
    height: 50px;
    left:5%;
    text-align: center;
    margin:5%;
    position:relative;
    border-style:none;
    font-size:medium;
}
#output_MaxTFSA{
}
#MaxTFSA{
    display:inline-block;
}
h1{
    color:#ffffff;
    text-align:center;
    padding-top: 25px;
    padding-bottom:5px;
    margin:0;
    font-family: 'Raleway', sans-serif;
}
h3{
    color:#ffffff;
    text-align:center;
    margin: 0;
    margin-bottom:25px;
    font-family: 'Raleway', sans-serif;
}
h4{
    color:#ffffff;
    height: 20px;
    font-family: 'Raleway', sans-serif;
}
.RowDiv{
    width: 100%;
}
.MessageTextBox{
    height:85px;
    width: 95%;
    resize: none;
    padding: 10px 0 0 0;
    border-radius:10px;
    background-color: darksalmon;
    border-color: #781515;
    margin: 10px 2.25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight:500;
}
#Version_Tag{
    margin: 0px 20px 0 0; 
    text-align: right;
    display:inline;
    float: right;
}
#Disclaimer{
    display: inline;
    padding-left: 20px;
    color:white;
    cursor:pointer;

}
.fancybox-skin{
                    background: #800000;
        }